!!! 5 
%html
  %head
    %title
      ='bookm.arq'
  %body
    ='Bye bye '
    %i Delicious
    =', hello '
    %i Bookm.arq
    %div %b Hey you!
    = link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)
